<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzaapplication.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerScreenActivity"
            android:label="@string/title_activity_customer_screen" >
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name=".OrderHistoryActivity"
            android:label="@string/title_activity_order_history" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".DailySpecialActivity"
            android:label="@string/title_activity_daily_special" >
        </activity>
        <activity
            android:name=".CertificateActivity"
            android:label="@string/title_activity_certificate" >
        </activity>
        <activity
            android:name=".OrderInformationActivity"
            android:label="@string/title_activity_order_information" >
        </activity>
    </application>

</manifest>
